* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__registration {
    text-decoration: none;
    color: rgb(26, 34, 107);
}

.header__login {
    text-decoration: none;
    color: rgb(120, 120, 120);
    margin-left: 29px;
}