* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto', sans-serif;   
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
}

body {
    margin: 0;
    font-family: Roboto;
    width: 100%;
}

.form {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    height: 100vh;
    background: #1B2473;
}


.form__square {
    max-width: 600px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 697px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.form__name  {
    margin-bottom:13px;
    margin-top: 38px;
    width: 138px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}


.form__form-email {
    width: 100%;
    padding: 0px 45px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}


.form__label-email {
    margin-bottom: 8px;
    width: 100%;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}


.form__input-email {
    width: 100%;
    padding: 5px 13px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
    Font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.form__input-email::placeholder {
    
    color: #CCCCCC;
}


.form__form-password{
    width: 100%;
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}


.form__label-password {
    margin-bottom: 8px;
    width: 100%;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}


.form__input-password {
    width: 100%;
    padding: 5px 13px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
    Font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.form__input-password::placeholder{
    color: #CCCCCC;
}


.form__form-checkbox {
    position: relative;
    display: flex;
    align-self:flex-start;
    width: 100%;
}


.form__checkbox-approval {
    position: absolute;
    opacity: 0;
    /* margin-top: 19px;
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    margin: 19px 10px 0px 45px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 7px; */
}

.form__checkbox-approval:checked + .form__approval::after{
    opacity: 1;
}

.form__approval::before {
    content: '';
    margin: 16px 10px 0px 45px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    border: 1px solid #787878;
    border-radius: 7px;
}

.form__approval::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 16px;
    left: 54px;
    top: 25px;
    background-color:#787878;
}


.form__approval {
    margin-top: 27px;
    width: 100%;
    height: 16px;
    margin-left: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #787878;
}

.form__button {
    margin-top: 64px;
    padding: 32px 64px ;
    left: 0px;
    top: 0px;
    background: #1A226B;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 16px;
    color: #FFFFFF;
}


@media screen  and (min-width: 769px) {
    
    .form {
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0px;
        height: 100vh;
        background: #1B2473;
    }
    
    .form__square {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 600px;
        height: 412px;
        left: 412px;
        top: 82px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    
    .form__name  {
        margin-bottom: 17;
        margin-top: 26px;
        width: 115px;
        height: 50px;
        left: 242px;
        top: 26px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #787878;
    }
    
    
    .form__form-email {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
    }
    
    
    .form__label-email {
        margin-bottom: 8px;
        width: 40px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }
    
    
    .form__input-email {
        width: 100%;
        padding: 5px 13px; 
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;
        font-size: 28px;
        line-height: 36px;
    }

    .form__input-email::placeholder {
        color: #CCCCCC;
    }
    
    
    .form__form-password{
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }
    
    
    .form__label-password {
        margin-bottom: 8px;
        width: 40px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }
    
    
    .form__input-password {
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;
    }

    .form__input-password::placeholder{
        color: #CCCCCC;
    }
    
    
    .form__form-checkbox {
        display: flex;
        align-self:flex-start;
        margin: 0;
    }
    
    
    .form__checkbox-approval {
        margin-top: 16px;
        margin: 16px 10px 0px 45px;
        box-sizing: border-box;
        display: flex;
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 7px;
    }
    
    
    .form__approval {
        margin-top: 27px;
        width: 278px;
        height: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px; 
        line-height: 16px;
        color: #787878;
    }
    
    .form__button {
        margin-top: 26px;
        padding: 18px 55px;
        width: 180px;
        background: #1a226b;
        border-radius:10px;

        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #ffffff;
    }



}
