* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto', sans-serif;   
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
}

.body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    height: 100vh;
    background: #1B2473;
}


.form__square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 728px;
    height: 697px;
    left: 20px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.form__name  {
    margin-bottom: 0;
    margin-top: 5.4%;
    width: 138px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}


.form__form-email {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}


.form__label-email {
    margin-bottom: 8px;
    width: 60px;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}


.form__input-email {
    width: 638px;
    height: 49px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
}


.form__form-password{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}


.form__label-password {
    margin-bottom: 8px;
    width: 84px;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}


.form__input-password {
    width: 638px;
    height: 49px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
}


.form__form-checkbox {
    display: flex;
    align-self:flex-start;
    margin: 0px 0px 0px 45px;
}


.form__checkbox-approval {
    margin-top: 19px;
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 7px;
}


.form__approval {
    margin-top: 27px;
    width: 358px;
    height: 16px;
    left: 42px;
    top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #787878;
}

.form__button {
    margin-top: 64px;
    width: 220px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #1A226B;
    border-radius: 10px;
    left: 64px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 16px;
    color: #FFFFFF;
}


@media screen and (max-width: 1440px) and (min-width: 769px) {
    .form__square {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 600px;
        height: 412px;
        left: 412px;
        top: 82px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    
    .form__name  {
        margin-bottom: 0;
        margin-top: 38px;
        width: 115px;
        height: 50px;
        left: 242px;
        top: 26px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        color: #787878;
    }
    
    
    .form__form-email {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
    }
    
    
    .form__label-email {
        margin-bottom: 8px;
        width: 40px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }
    
    
    .form__input-email {
        width: 509px;
        height: 49px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;
    }
    
    
    .form__form-password{
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }
    
    
    .form__label-password {
        margin-bottom: 8px;
        width: 40px;
        height: 16px;
        left: 8px;
        top: -19px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #787878;
    }
    
    
    .form__input-password {
        width: 509px;
        height: 49px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 10px;
    }
    
    
    .form__form-checkbox {
        display: flex;
        align-self:flex-start;
        margin: 0px 0px 0px 45px;
    }
    
    
    .form__checkbox-approval {
        margin-top: 16px;
        box-sizing: border-box;
        display: flex;
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 2px solid #787878;
        border-radius: 7px;
    }
    
    
    .form__approval {
        margin-top:  calc(27 / 1440 * 100vw);
        width: 278px;
        height: 16px;
        left: 34px;
        top: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: calc(14 / 1440 * 100vw);
        line-height: calc(16 / 1440 * 100vw);
        color: #787878;
    }
    
    .form__button {
        width: calc(180 / 1440 * 100vw);
        height: calc(52 / 1440 * 100vw);
        margin-right: auto;
        margin-left: auto;
        margin-top: calc(34 / 1440 * 100vw);
        background: #1a226b;
        border-radius: calc(10 / 1440 * 100vw);

        font-weight: 700;
        font-size: calc(24 / 1440 * 100vw);
        line-height: calc(16 / 1440 * 100vw);
        color: #ffffff;
    }



}
