* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto', sans-serif;   
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
}

body {
    margin: 0;
    padding: 20px;
    position: absolute;
    width: 768px;
    height: 737px;
    background: #1B2473;
}


.form__square {
    display: flex;
    flex-direction: column;
    width: 728px;
    height: 697px;
    left: 20px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.form__name  {
    width: 115px;
    height: 50px;
    left: 242px;
    top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}

.form__form-email {
    margin-top: 125px;

}

.form__form-password{

}

.form__form-checkbox {

}


.form__label-email {
    width: 60px;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}

.form__input-email {
    width: 638px;
    height: 49px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
}

.form__label-password {
    width: 84px;
    height: 16px;
    left: 8px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #787878;
}

.form__input-password {
    width: 638px;
    height: 49px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
}

.form__approval {
    width: 358px;
    height: 16px;
    left: 42px;
    top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #787878;
}

.form__checkbox-approval {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 7px;
}


.form__button {
    width: 180px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #1A226B;
    border-radius: 10px;
    width: 69px;
    height: 16px;
    left: 55px;
    top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;

}


@media screen and (max-width: 1440px) and (min-width: 769px) {



}


@media screen and (max-width: 768px) and (min-width: 320px) {



}